body {
    background: white;
    font-family: Arial;
}

top {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 30px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
}

top button {
    width: 100px;
    height: 30px;
    display: inline-block;
    background-color: white;
    border-color: lightgray;
    border-width: 1px;
    color: gray;
    text-align: center;
    font-size: small;
}

top button:hover {
    color: black;
    border-color: gray;
    border-width: 1px;
    cursor: pointer;
}

section {
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Arial;
}

section a {
    font-size: small;
    margin-top: 0px;
    text-align: center;
    text-decoration: none;
    color: dimgrey;
    display: block;
}

section a:hover {
    color: black;
    cursor: pointer;
}

section p {
    font-size: small;
    text-align: center;
    color: dimgrey;
    display: block;
}

section h1 {
    font-size: large;
    text-align: center;
    color: dimgrey;
    display: block;
    font-weight: normal;
}

section h1:hover {
    color: black;
    cursor: pointer;
}
